langchain
langchain-community
langchain-core
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
langchain-huggingface
streamlit
pandas
python-dotenv
pillow
pydantic
ipykernel
langchain-groq
langsmith
torchvision